html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #0e0e0e;
    color: #fefefe;
    overflow-x: hidden;
    overflow: hidden;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    padding-top: 150px;
    overflow-y: auto;
    overflow: hidden;
}

header {
    background-color: #c75610;
    color: #fefefe;
    padding: 20px 20px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    text-align: center;
    margin: 0;
}

header h1 {
    font-size: 3.5em;
    margin: 0;
}

header p {
    margin: 0;
    line-height: 1.5;
}

nav {
  position: fixed;
  top: 133px; /* Adjusted to stick directly under the header */
  left: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 999;
  text-align: center;
  border: 5px solid gray;
  margin: 0;
  padding: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 1.5em;
    padding: 10px 20px;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
    width: 100%;
    flex: 1;
    height: auto;
    padding-right: 60px;
}

section {
    margin-bottom: 40px;
}

section h2 {
    margin-bottom: 20px;
    color: #f09544;
    font-size: 2em;
    text-align: center;
    font-weight: bold;
}

section p {
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.8;
    font-size: 1.1em;
    text-align: justify;
    color: #fefefe;
}

.container img {
    position: absolute;
    left: 60rem;
    top: 55%;
    transform: translateY(-50%);
    height: 50%;
    z-index: 999;
}

.container img:nth-child(2) {
    position: absolute;
    left: -6rem;
    top: 65%;
    transform: translateY(-50%);
    height: 50%;
    z-index: 1000;
}

.hakkimizda-img {
    box-shadow: 5px 5px 15px rgba(199, 86, 16, 0.5);
    border-radius: 10px;
    width: 300px;
    position: relative;
    margin-bottom: 0;
}

/* Bizi Ara Butonunun Tasarımı */
.iletisim-container {
    color: white; /* Beyaz metin rengi */
    position: relative;
    bottom: 5px;
    width: 80%;
    margin: 0 auto; /* Ortalayarak konumlandırma */
    text-align: center;
    margin-top: 2rem;
}

.iletisim-text {
    font-size: 1.8em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 15rem;
}

.phone-button {
    position: absolute;
    top: 24%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #0e0e0e;
    color: white;
    border: none;
    padding: 15px 30px; /* İç boşluğu genişlettik */
    font-size: 1.5em; /* Yazı boyutunu küçülttük */
    border-radius: 10px;
    cursor: pointer;
    z-index: 1002;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    border: 2px solid #c75610;
    display: flex;
    justify-content: center;
    align-items: center; /* Yazıyı tam ortalamak için flex ayarları */
}

.phone-button:hover {
    background-color: #c75610;
    color: white;
}

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: absolute;
    z-index: 0;
    border-radius: 10px;
    border: 2px solid #c75610;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000;
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

.nav {
    font-family: 'Titillium Web';
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
}

.nav * {
    box-sizing: border-box;
    transition: all .35s ease;
}

.nav li {
    display: inline-block;
    list-style: outside none none;
    margin: .5em 1em;
    padding: 0;
}

.nav a {
    padding: .2em .8em;
    color: black;
    position: relative;
    text-decoration: none;
    font-size: 20px;
}

.nav a::before,
.nav a::after {
    content: '';
    height: 14px;
    width: 14px;
    position: absolute;
    transition: all .35s ease;
    opacity: 0;
}

.nav a::before {
    content: '';
    right: 0;
    top: 0;
    border-top: 3px solid #c75610;
    border-right: 3px solid #c75610;
    transform: translate(-100%, 50%);
}

.nav a:after {
    content: '';
    left: 0;
    bottom: 0;
    border-bottom: 3px solid #c75610;
    border-left: 3px solid #c75610;
    transform: translate(100%, -50%)
}

.nav a:hover:before,
.nav a:hover:after {
    transform: translate(0, 0);
    opacity: 1;
}

.nav a:hover {
    color: red;
}

footer {
    background-color: #a34706;
    color: #fefefe;
    text-align: center;
    width: 100%;
    margin-top: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 5px 0;
    z-index: 1000;
}

footer p {
    margin: 0;
    font-size: 1.2em;
}
